<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Dogs up for adoption</h1>
    <p>Name: <%= @user_input.name %></p>
    <p>Breed: <%= @user_input.breed %></p>
    <p>Age: <%= @user_input.age %></p>
    
  </body>
</html>